<div class="divider">
    <div class="custom-shape-divider-top-1682232868">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<section id="Products">
    <div>
        <h3>Productos</h3>
        <h2>Revisa nuestros servicios</h2>
        <div>
            <div class="fade" id='collection-component-1692043550730'></div>
            <script type="text/javascript">
            /*<![CDATA[*/
            (function () {
              var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
              if (window.ShopifyBuy) {
                if (window.ShopifyBuy.UI) {
                  ShopifyBuyInit();
                } else {
                  loadScript();
                }
              } else {
                loadScript();
              }
              function loadScript() {
                var script = document.createElement('script');
                script.async = true;
                script.src = scriptURL;
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
                script.onload = ShopifyBuyInit;
              }
              function ShopifyBuyInit() {
                var client = ShopifyBuy.buildClient({
                  domain: 'cb77f9.myshopify.com',
                  storefrontAccessToken: '6b21b0a1adc93e67267381d8397ad2e4',
                });
                ShopifyBuy.UI.onReady(client).then(function (ui) {
                  ui.createComponent('collection', {
                    id: '452677173546',
                    node: document.getElementById('collection-component-1692043550730'),
                    moneyFormat: '%24%7B%7Bamount_no_decimals%7D%7D',
                    options: {
              "product": {
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "calc(25% - 20px)",
                      "margin-left": "20px",
                      "margin-bottom": "50px",
                      "width": "calc(25% - 20px)"
                    },
                    "img": {
                      "height": "calc(100% - 15px)",
                      "position": "absolute",
                      "left": "0",
                      "right": "0",
                      "top": "0"
                    },
                    "imgWrapper": {
                      "padding-top": "calc(75% + 15px)",
                      "position": "relative",
                      "height": "0"
                    }
                  },
                  "title": {
                    "font-family": "PT Sans, sans-serif",
                    "font-weight": "normal",
                    "font-size": "20px",
                    "color": "#343638"
                  },
                  "button": {
                    "font-family": "PT Sans, sans-serif",
                    "font-size": "18px",
                    "padding-top": "17px",
                    "padding-bottom": "17px",
                    ":hover": {
                      "background-color": "#374d85"
                    },
                    "background-color": "#3d5694",
                    ":focus": {
                      "background-color": "#374d85"
                    },
                    "border-radius": "4px",
                    "padding-left": "50px",
                    "padding-right": "50px"
                  },
                  "quantityInput": {
                    "font-size": "18px",
                    "padding-top": "17px",
                    "padding-bottom": "17px"
                  },
                  "price": {
                    "font-family": "Open Sans, sans-serif",
                    "font-size": "16px"
                  },
                  "compareAt": {
                    "font-family": "Open Sans, sans-serif",
                    "font-size": "13.6px"
                  },
                  "unitPrice": {
                    "font-family": "Open Sans, sans-serif",
                    "font-size": "13.6px"
                  }
                },
                "buttonDestination": "modal",
                "contents": {
                  "options": false
                },
                "text": {
                  "button": "Ver producto"
                },
                "googleFonts": [
                  "PT Sans",
                  "Open Sans"
                ]
              },
              "productSet": {
                "styles": {
                  "products": {
                    "@media (min-width: 601px)": {
                      "margin-left": "-20px"
                    }
                  }
                }
              },
              "modalProduct": {
                "contents": {
                  "img": false,
                  "imgWithCarousel": true
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0px",
                      "margin-bottom": "0px"
                    }
                  },
                  "button": {
                    "font-family": "PT Sans, sans-serif",
                    "font-size": "18px",
                    "padding-top": "17px",
                    "padding-bottom": "17px",
                    ":hover": {
                      "background-color": "#374d85"
                    },
                    "background-color": "#3d5694",
                    ":focus": {
                      "background-color": "#374d85"
                    },
                    "border-radius": "4px",
                    "padding-left": "50px",
                    "padding-right": "50px"
                  },
                  "quantityInput": {
                    "font-size": "18px",
                    "padding-top": "17px",
                    "padding-bottom": "17px"
                  },
                  "title": {
                    "font-family": "Helvetica Neue, sans-serif",
                    "font-weight": "bold",
                    "font-size": "26px",
                    "color": "#4c4c4c"
                  },
                  "price": {
                    "font-family": "Helvetica Neue, sans-serif",
                    "font-weight": "normal",
                    "font-size": "18px",
                    "color": "#4c4c4c"
                  },
                  "compareAt": {
                    "font-family": "Helvetica Neue, sans-serif",
                    "font-weight": "normal",
                    "font-size": "15.299999999999999px",
                    "color": "#4c4c4c"
                  },
                  "unitPrice": {
                    "font-family": "Helvetica Neue, sans-serif",
                    "font-weight": "normal",
                    "font-size": "15.299999999999999px",
                    "color": "#4c4c4c"
                  }
                },
                "googleFonts": [
                  "PT Sans"
                ],
                "text": {
                  "button": "Agregar al carro"
                }
              },
              "option": {},
              "cart": {
                "styles": {
                  "button": {
                    "font-family": "PT Sans, sans-serif",
                    "font-size": "18px",
                    "padding-top": "17px",
                    "padding-bottom": "17px",
                    ":hover": {
                      "background-color": "#374d85"
                    },
                    "background-color": "#3d5694",
                    ":focus": {
                      "background-color": "#374d85"
                    },
                    "border-radius": "4px"
                  }
                },
                "text": {
                  "total": "Subtotal",
                  "button": "Checkout"
                },
                "popup": false,
                "googleFonts": [
                  "PT Sans"
                ]
              },
              "toggle": {
                "styles": {
                  "toggle": {
                    "font-family": "PT Sans, sans-serif",
                    "background-color": "#3d5694",
                    ":hover": {
                      "background-color": "#374d85"
                    },
                    ":focus": {
                      "background-color": "#374d85"
                    }
                  },
                  "count": {
                    "font-size": "18px"
                  }
                },
                "googleFonts": [
                  "PT Sans"
                ]
              }
            },
                  });
                });
              }
            })();
            /*]]>*/
            </script>
        </div>
    </div>
</section>

<style lang="scss">
    /* SVG */
    .custom-shape-divider-top-1682232868 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1682232868 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 125px;
    }

    .custom-shape-divider-top-1682232868 .shape-fill {
        fill: hsl(var(--main-dark));
    }

    /* Products */
    #Products {
        background-color: hsl(var(--white));

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            max-width: 1100px;
            margin-inline: auto;
            padding: var(--padding);

            h2 {
                display: flex;
                justify-content: center;

                position: relative;
                color: hsl(var(--main-dark), 90%);
                font-size: 3rem;
                margin-block-start: 0;
                margin-block-end: 4rem;
                
                text-align: center;
            }

            h3 {
                margin: 0;
                font-size: .875rem;
                color: hsl(var(--important));    

                text-align: center;
            }
        }
    }
</style>